body {
    background: grey;
}

.wrapper {
    padding: 32px;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 8px;
}

.col {
    width: 102px;
    border: 1px solid;
    height: 602px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
}

.horizontal {
    width: 100%;
    position: absolute;
    bottom: 220px;
    height: 100px;
    border: 1px solid;
}

.played {
    background: gold;
}

.target {
    background: purple;
}

button {
    position: absolute;
    font-size: 2em;
}

.ui {
    position: absolute;
    font-size: 2em;
    color: white;
    left: 100px;
    top: 50%;
}

.note {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    top: 0;
    left: 0;

    transition: transform 250ms;
}
