body {
    background: grey;
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-top: 100px;
}

.col {
    width: 100px;
    border: 1px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 2em;
}

.played {
    background: gold;
}
